{% extends "layout.html.twig" %}

{% block content %}
    <!-- Swiper -->
<section class="categories">
    <div id="products">
        <section class="swiper mySwiper mb-5 mx-5">
            <h2 class="mb-5">
                {{ categories.name }}
            </h2>
            <div class="swiper-wrapper">
                {% for product in products %}
                    <div class="swiper-slide d-flex flex-column position-relative">
                        <img class="img-fluid" src="/uploads/{{ product.image }}" alt="">
                        <a class="stretched-link" href="/product/show?product_id={{product.id}}&user_id={{product.user_id}}">
                            {{product.productName}}
                        </a>
                    </div>
                {% endfor %}

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </section>
    </div>
</section>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    centerMode: true,
    centerPadding: '20px',
    spaceBetween: 30,
    navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
    },
    breakpoints: {
    320: {
    slidesPerView: 1,
    spaceBetween: 20
    },
    480: {
    slidesPerView: 2,
    spaceBetween: 20
    },
    768: {
    slidesPerView: 3,
    spaceBetween: 40
    },
    1024: {
    slidesPerView: 4,
    spaceBetween: 50
    },
    1400: {
    slidesPerView: 5,
    spaceBetween: 50
    }
    }
    });
</script>

{% endblock %}

